.header {
  border: 1px solid rgb(47, 51, 54);
  width: 600px;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 392px;
  border-top: none;
}

.home-txt {
  font-size: 20px;
  font-weight: 700;
  padding: 15px;
}

.header-txt-div {
  display: flex;
}

.for-you-div, .following-div {
  width: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.for-you-div {
  padding-bottom: 0;
}

.header-txt-div div:hover {
  background-color: rgb(231, 233, 234,0.1);
}

.border-for-you {
  margin-top: 15px;
  background-color:rgb(29,155,240);
  width: 55px;
  height: 5px;
  border-radius: 10px;
  pointer-events: none;
}

.following-txt {
  color: rgb(113, 118, 123);
}